<button
  class="btn btn-default"
  type="button"
  (click)="showMoveModal(template)"
  [disabled]="disabled">
  <ng-content></ng-content>
</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">Move Item</h4>
  </div>
  <div class="modal-body">

    <p>Moving {{ source.title }}. Please select a destination.</p>

    <app-item-picker-form
      (pick)="doMove($event)"
    ></app-item-picker-form>

    <div class="mt-2">
      <app-loading-bar [loading]="moving">Moving Item</app-loading-bar>
    </div>

  </div>
</ng-template>