<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

      <a
        class="navbar-brand"
        href="javascript:void(0)"
        (click)="toRoot()"
      >{{ meta ? meta.appName : 'Loading' }}</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation" *ngIf="user">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent" *ngIf="authenticated">

        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link" (click)="toRoot()">Items</a>
          </li>

          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link" (click)="toOutline()">Outline</a>
          </li>

        </ul>

        <!--
        <form action="javascript:void(0)" class="form-inline mr-2">
          <input type="search" class="form-control" placeholder="Search" />
        </form>
      -->

        <span class="navbar-text">
          <span *ngIf="user">Signed in as <strong>{{ user.username }}</strong></span>
          <span *ngIf="!user">
            <i class="fas fa-sync fa-spin"></i>
            Loading profile...
          </span>
        </span>

        <a href="javascript:void(0)" class="nav-link" (click)="logout()">
          Sign Out
        </a>

      </div>

    </div>
  </nav>