<div class="footer bg-dark text-light p-5">
  <div class="container">
    <div class="row">

      <div class="col-12 col-sm-6">
        <h3>{{ meta ? meta.appName : 'Loading...' }}</h3>
        <p>
          Recursive List Keeping
          <a [href]="newReleaseUrl" target="_blank" class="btn btn-sm btn-primary ml-2" *ngIf="newReleaseAvailable">New Release Available!</a>
        </p>
        <p *ngIf="nItems >= 0; else loading">{{ nItems | number }} items / {{ nChecked | number }} completed</p>
      </div>

    </div>
  </div>
</div>

<ng-template #loading>
  <i class="fas fa-refresh fa-spin"></i>
  Loading stats...
</ng-template>