<toaster-container></toaster-container>

<app-navbar></app-navbar>

<div class="content-root container my-5">
  <router-outlet></router-outlet>
</div>

<div class="footer bg-dark text-light p-5">
  <div class="container">
    <div class="row">

      <div class="col-6">
        <h3>NuList</h3>
        <p>Recursive list keeping</p>
      </div>

      <div class="col-6">
        Debug Navigation
        <ul>
          <li><a [routerLink]="['/items']">Items View</a></li>
          <li><a [routerLink]="['/outline']">Outline View</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>