<div *ngIf="item && item._id">

    <button class="btn btn-default" (click)="goUp()">
        Up
        <i class="fas fa-level-up-alt"></i>
    </button>

    <div class="clearfix bg-light mt-2 p-3">

        <form action="javascript:void(0)">

            <input name="title"
                type="text"
                [(ngModel)]="item.title"
                [disabled]="saving"
                class="form-control form-control-lg my-3" />

            <textarea name="description"
                id="description-field"
                class="form-control item-description"
                [(ngModel)]="item.description"
                [disabled]="saving"></textarea>

            <div class="row mt-2">
                <div class="col-12 col-md-6">
                    <div class="mb-2">
                        <app-item-progress-bar [item]="item"></app-item-progress-bar>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="btn-toolbar float-right">

                        <button class="btn btn-default mr-2"
                            disabled="disabled">
                            Delete
                        </button>

                        <app-item-move-button [source]="item">Move</app-item-move-button>

                        <div class="v-separator"></div>

                        <button
                            class="btn btn-primary"
                            (click)="save()"
                            [disabled]="saving">
                            <i class="fas fa-save"></i>
                            Save
                        </button>


                    </div>
                </div>

            </div>

        </form>

    </div>

</div>
