<div class="row item-row" *ngFor="let c of children">

  <div class="col-1 checkbox-column">
    <input type="checkbox" class="mr-3" [(ngModel)]="c.checked" (click)="saveCheck(c)" />
  </div>
 
  <div class="col-lg-8 col-md-8 col-sm-9 col-9 clickable" (click)="gotoItem(c)">
    <strong>{{ c.title }}</strong>
    <span *ngIf="c.description">&emsp;{{ c.description }}</span>
    <br>
    <span class="text-muted">
      <span *ngIf="c.children && c.children.length">
        {{ c.children.length }} {{ c.children.length == 1 ? 'child' : 'children' }}
        &mdash;
      </span>
      {{ c.percent | percent }} complete
    </span>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="progress">
      <div class="progress-bar" [style.width]="100*c.percent + '%'"></div>
    </div>
  </div>

</div>
